{% load i18n %}
{% load xguardian %}
<div class="table-responsive">
    <table class="table table-sm table-bordered">
        <caption>{{ permission.caption }}</caption>
        <thead class="thead-light">
            <tr>
                <th scope="col" colspan="{{ permission.max }}">{{ permission.title }}</th>
            </tr>
        </thead>

        <tbody>
        {% for obj, perms in permission.data.items %}
            <tr>
                <th scope="row" class="text-truncate" style="max-width: 150px;" title="{{ obj }}">{{ obj }}</th>
                {% for codename in perms %}
                    <td>{{ codename }}</td>
                {% endfor %}
                {% rows_range perms|length permission.max as rows %}
                {% for index in rows %}
                    <td>{{ codename }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>