{% extends base_template %}

{% block content %}
    {{ users_perms }}
    {{ groups_perms }}

    <form action="" class="form" method="post">{% csrf_token %}
        <div class="form-group">
            {{ user_form }}
            <input type="hidden" name="submit_manage_user" value="1"/>
        </div>

        <button class="btn btn-success" type="submit">Send</button>
    </form>


    <form action="" class="form" method="post">{% csrf_token %}
         <div class="form-group">
             {{ group_form }}
            <input type="hidden" name="submit_manage_group" value="1"/>
         </div>
        <button class="btn btn-success" type="submit">Send</button>
    </form>
{% endblock %}