{% extends base_template %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block nav_title %}
    <i class="fa fa-lock"></i> {{ title }}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% if users_perms %}
                {% trans 'user' as user_title %}
                {% trans 'users' as user_caption %}
                {% include "xguardian/includes/permission_table.html" with caption=user_caption title=user_title permissions=users_perms only %}
            {% endif %}

            <form class="exform" method="post">{% csrf_token %}
                <input type="hidden" name="submit_manage_user" value="1"/>
                {% crispy user_form %}
                <div class="clearfix">
                    <button type="submit" class="default btn btn-primary" name="_search">
                        <i class="fa fa-search"></i> {% trans 'Search' %}
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="card mt-1">
        <div class="card-body">
            {% if groups_perms %}
                {% trans 'group' as groups_title %}
                {% trans 'groups' as group_caption %}
                {% include "xguardian/includes/permission_table.html" with caption=group_caption title=groups_title permissions=groups_perms only %}
            {% endif %}

            <form class="exform" method="post">{% csrf_token %}
                <input type="hidden" name="submit_manage_group" value="1"/>
                {% crispy group_form %}
                <div class="clearfix">
                    <button type="submit" class="default btn btn-secondary" name="_search">
                        <i class="fa fa-search"></i> {% trans 'Search' %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}