{% extends base_template %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <table class="table table-bordered">
        <tr>
            <th>{% trans 'username' %}</th>
            {% for perms in users_perms.values %}
                {% for perm in perms %}
                    <th>{% trans 'can '%}{{ perm }}</th>
                {% endfor %}
            {% endfor %}
        </tr>
        <tr>
            {% for user, perms in users_perms.items %}
                <td>{{ user }}</td>
                {% for perm in perms  %}
                    <td>{{ perm }}</td>
                {% endfor %}
            {% endfor %}
        </tr>
    </table>

    <form class="exform" method="post">{% csrf_token %}
        <input type="hidden" name="submit_manage_user" value="1"/>
        {% crispy user_form %}
        <div class="clearfix">
            <button type="submit" class="default btn btn-primary" name="_search">
                <i class="fa fa-search"></i> {% trans 'Search' %}
            </button>
        </div>
    </form>

    {% if groups_perms %}
    <table class="table table-bordered">
        <tr>
            <th>{% trans 'group' %}</th>
            {% for perms in groups_perms.values %}
                {% for perm in perms %}
                    <th>{% trans 'can '%}{{ perm }}</th>
                {% endfor %}
            {% endfor %}
        </tr>
        <tr>
            {% for group, perms in groups_perms.items %}
                <td>{{ group }}</td>
                {% for perm in perms  %}
                    <td>{{ perm }}</td>
                {% endfor %}
            {% endfor %}
        </tr>
    </table>
    {% endif %}

    <form class="exform" method="post">{% csrf_token %}
        <input type="hidden" name="submit_manage_group" value="1"/>
        {% crispy group_form %}
        <div class="clearfix">
            <button type="submit" class="default btn btn-secondary" name="_search">
                <i class="fa fa-search"></i> {% trans 'Search' %}
            </button>
        </div>
    </form>
{% endblock %}