{% extends base_template %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block nav_title %}
  <i class="fa fa-lock"></i> {{title}}
{% endblock %}

{% block content %}
    {% if users_perms %}
    {% trans 'users' as user_title %}
    {% include "xguardian/includes/permission_table.html" with title=user_title permissions=users_perms only %}
    {% endif %}

    <form class="exform" method="post">{% csrf_token %}
        <input type="hidden" name="submit_manage_user" value="1"/>
        {% crispy user_form %}
        <div class="clearfix">
            <button type="submit" class="default btn btn-primary" name="_search">
                <i class="fa fa-search"></i> {% trans 'Search' %}
            </button>
        </div>
    </form>

    {% if groups_perms %}
        {% trans 'groups' as groups_title %}
        {% include "xguardian/includes/permission_table.html" with title=groups_title permissions=groups_perms only %}
    {% endif %}

    <form class="exform" method="post">{% csrf_token %}
        <input type="hidden" name="submit_manage_group" value="1"/>
        {% crispy group_form %}
        <div class="clearfix">
            <button type="submit" class="default btn btn-secondary" name="_search">
                <i class="fa fa-search"></i> {% trans 'Search' %}
            </button>
        </div>
    </form>
{% endblock %}